// 日期
currDate:@(2,3)
// 机构
currOrg:@(2,1)
// 币种
currency:#本外币
// 指标X名称
currIndexNameX:@(7-131,2)|(149,2)
// 指标Y名称
currIndexNameY:@(5,3-5)
// 指标类型
currIndiType:#数值
// 指标频率
currIndiFreq:#每月
// 指标值
currIndiValue:@(7-131,3-5)|(149,3-5)
// 是否有阈值
currIndiLimitFlag:#N
// 阈值
currIndiLimit:#
// 主题
subject:#监管报表
// 业务类型
businessType:#G2501
// 模块1
module1:#
// 模块2
module2:#
// 密级
security:#